* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0px 100px;
    padding: 0px 20px;
    max-width: 1400px;
}

/* Header start */
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hed {
    width: 280px;
    height: 380px;
    background: url(../img/Rectangle\ 5.jpg), #D9D9D9;
    background-repeat: no-repeat;
    margin-top: 100px;
    border-radius: 35px;
}

.hed:hover {
    background: url(../img/Rectangle\ 5.jpg), pink;
    background-repeat: no-repeat;

}

.hed_img {
    margin-top: 60px;
    margin-left: 80px;
}

.hed_h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-left: 110px;
    margin-bottom: 10px;
}

.hed_h2:hover {
    color: white;
}

.hed_p {
    width: 224px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    margin-left: 28px;
    align-items: center;
    text-align: center;
    color: #000000;
}

.hed_p:hover {
    color: white;
}

.hed_img2 {
    margin-top: 20px;
    margin-left: 50px;
}

.hed2 {
    width: 280px;
    height: 380px;
    background: url(../img/2.jpg), #D9D9D9;
    background-repeat: no-repeat;
    margin-top: 100px;
    border-radius: 35px;
}

.hed2:hover {
    background: url(../img/2.jpg), pink;
    background-repeat: no-repeat;

}

.hed3:hover {
    background: url(../img/4.png), pink;
    background-repeat: no-repeat;

}

.hed3 {
    width: 280px;
    height: 380px;
    background: url(../img/4.png), #D9D9D9;
    background-repeat: no-repeat;
    margin-top: 100px;
    border-radius: 35px;
}

/* Header the end */
/* Hero start */
.hero2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero {
    width: 280px;
    height: 380px;
    margin-top: 100px;
    margin-left: 50px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 100px;
}

.hero_img {
    margin-left: 60px;
    margin-top: -70px;
}

.hero_h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0093FD;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 75px;
    margin-top: 30px;
}

.hero_p {
    margin-left: 70px;
    margin-top: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn {
    width: 179px;
    height: 50px;
    background: #0093FD;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 55px;
    color: #FFFFFF;
    margin-left: 60px;
    margin-top: 40px;
    border: 1px solid #FFFFFF;

}

.btn2 {
    width: 179px;
    height: 50px;
    background: #0093FD;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 55px;
    color: #FFFFFF;
    margin-left: 60px;
    margin-top: 60px;
    border: 1px solid #FFFFFF;

}

.hero_p3 {
    margin-left: 90px;
    margin-top: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero_p2 {
    margin-left: 90px;
    margin-top: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Hero the end */